:root {
  --white: #ffffff;
  --red: #ff0000;
  --faded-red: #c83737;
  --green: #008000;
  --olive: #808000;
  --blue: #0000ff;
  --faded-blue: #008080;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-color: black;
}
body {
  margin: 0;
  height: 100vh;
}

/* --------------- CONTENT --------------- */
nav {
  width: 100%;
  height: 80px;
  background-color: var(--olive);
  border: 3px solid;
}

main {
  height: calc(100% - 80px);
  width: 100vw;
  background-color: var(--green);
  padding: 0 2% 0 2%;
  border: 3px solid;
  border-top: none;
  overflow: hidden;
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  height: calc(100vh - 130px);
}

.squares,
.rectangles-circle {
  aspect-ratio: 1/1;
}

/* --------------- SQUARES --------------- */
.squares {
  display: flex;
  align-items: center;
  animation: fadein 2s;
}

.squares .squares-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 10px 0 0;
  width: 100%;
  height: 48%;
  transform: rotate(-45deg);
}

.squares-wrapper .first,
.squares-wrapper .second {
  background-color: var(--red);
  width: 50%;
  height: 100%;
  border: 3px solid;
}
.squares-wrapper .first {
  margin-right: 30px;
}

/* --------------- RECTANGLES WITH CIRCLE --------------- */
.rectangles-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadein 2s;
}

.rectangles-circle .rectangles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
}
.rectangles .first,
.rectangles .second {
  background-color: var(--blue);
  border: 3px solid;
  width: 100%;
  height: 10%;
}
.rectangles .second {
  margin-top: 10%;
}

.rectangles-circle .circle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 50%;
}
.circle .first {
  border: 3px solid;
  border-radius: 50%;
  background-color: var(--faded-blue);
  width: 50%;
  height: 50%;
  margin-left: 10%;
}

/* --------------- RECTANGLE --------------- */
.rectangle {
  display: flex;
  justify-content: center;
  border: 3px solid;
  background-color: var(--white);
  margin-top: 10%;
  animation: fadein 2s;
}
.rectangle .content {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

/* --------------- MEDIA QUERIES --------------- */
@media (max-width: 899px) {
  .squares {
    grid-area: a;
    left: -500px;
  }

  .rectangles-circle {
    grid-area: b;
  }
  .rectangle {
    grid-area: c;
    background-color: var(--faded-red);
    margin-bottom: 10%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a c"
      "b c";
    column-gap: 10%;
    row-gap: 20px;
  }
}

@media (max-width: 582px) {
  .squares {
    grid-area: a;
    max-width: 350px;
    max-height: 100%;
  }
  .rectangles-circle {
    grid-area: b;
    max-width: 350px;
    max-height: 100%;
  }
  .rectangle {
    grid-area: c;
    max-width: 200px;
    max-height: 400px;
    margin-left: 10%;
    margin-top: 0;
    background-color: var(--blue);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
      "a "
      "b "
      "c ";
  }
}

/* --------------- ANIMATIONS --------------- */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
